{% load static %}
<html>
    <head>
        <title>Board Meet</title>
        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
        <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        </head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-RL1LQV6HMG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RL1LQV6HMG');
</script>

        <style>
          @font-face {
    font-family: 'Myfont';
    src: url(/static/font/03SmartFontUI.ttf);
  }
  body {
    font-family: 'Myfont';
  }

  @media screen and (min-width: 992px){
    main, footer, header {
      padding-left: 300px;
    }
    #menu {
      display: none;
    }
  }

  @media screen and (max-width: 992px){
  
  }
  .blue_active {
  background-color: rgba(230, 35, 35, 0.8);
  color: blue;
}


        </style>
    <body>
      <body class="">
        <header>
         <a href="#" data-target="mobile-demo" class="sidenav-trigger fixed" id="menu" style="position: fixed"><i class="material-icons medium">menu</i></a>
         <ul class="sidenav sidenav-fixed" id="mobile-demo" style="padding-top: 1px;">
          <li><a  href="/" class="collapsible-header center-align"><img src="{% static 'img/A.png' %}" width="50%"></a></li>
          <li><a  href="/" class="collapsible-header center-align" style="font-size: 25px;"><span style="color: blue;">B</span>oard <span style="color: blue;">M</span>eet</a></li>
          {% if user.is_authenticated %}
          <!-- <li class="center-align" style="padding-left: 20px;font-size: 15px;">こんにちは、{{user.username}}さん</li> -->
          <li><a  href="{% url 'logout' %}" class="collapsible-header" id="logout"><i class="material-icons">logout</i>ログアウト</a></li>
          <li><a  href="{% url 'profile' %}" class="collapsible-header" id="profile"><i class="material-icons">assignment_ind</i>プロフィール</a></li>
          <li><a  href="{% url 'board_list' %}" class="collapsible-header" id="board_list"><i class="material-icons">storage</i>ボードリスト</a></li>
          <li><a  href="{% url 'user_list' %}" class="collapsible-header" id="user_list"><i class="material-icons">people_outline</i>ユーザーリスト</a></li>
          {% else %}
          <li class=""><a href="{% url 'login' %}" class="collapsible-header" id="login"><i class="material-icons">exit_to_app</i>ログイン</a></li>
          <li><a href="{% url 'user_create' %}" class="collapsible-header" id="user_create"><i class="material-icons">add_box</i>アカウント作成</a></li>
          <!-- <li><a href="{% url 'rooms' %}" class="collapsible-header"><i class="material-icons" id="rooms">school</i>体験授業</a></li> -->
          {% endif %}
          <li><a href="{% url 'explanation' %}" class="collapsible-header" id="explanation"><i class="material-icons">settings</i>サイト概要</a></li>
        </ul>
        </header>
        <main>
          <div class="content container" style="padding-top: 50px;">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        </main>
          <hr>
          <footer class="">
            <div class="footer-copyright">
              <div class="container">
                © 2022 Copyright Ryota Esaki
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
              </div>
            </div>
          </footer>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
          <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
          <script src="{% static 'js/materialize.js' %}"></script>
          <script src="{% static 'js/select.js' %}"></script>
          <script src="{% static 'js/init.js' %}"></script>
          <script type="text/javascript">
          function check() {
            var name = document.forms.teacher_form.first_name.value;
            var grade = document.forms.teacher_form.grade.value;
            var sex = document.forms.teacher_form.sex.value;
            var place = document.forms.teacher_form.place.value;
            var arr1 = [];
            var week = document.form1.week
	           for (let i = 0; i < week.length; i++){
		             if(week[i].checked){
			                arr1.push(week[i].value);
		              }
	            }
            var start_time = document.form1.start_time.value;
            var class_time = document.form1.class_time.value;
            var hope_sex = document.form1.hope_sex.value;
            var first_date1 = document.form1.first_date1.value;
            var first_time1 = document.form1.first_time1.value;
            var first_date2 = document.form1.first_date2.value;
            var first_time2 = document.form1.first_time2.value;
            var first_date3 = document.form1.first_date3.value;
            var first_time3 = document.form1.first_time3.value;
            var something = document.form1.something.value;

            var message = `本当に\n生徒名 ${name}\n学年 ${grade}\n性別 ${sex}\n場所 ${place}\n曜日 ${arr1}\n開始時間 ${start_time}\n授業時間 ${class_time}\n希望性別 ${hope_sex}\n第1希望日時 ${first_date1} ${first_time1}\n第2希望日時 ${first_date2} ${first_time2}\n第3希望日時 ${first_date3} ${first_time3}\n備考 ${something}\nでよろしいでしょうか`

            if (window.confirm(message)) {
              return true
            } else {
              alert("キャンセルされました");
              return false
            }
          };
          function intro_check() {
            if (window.confirm("本当に応募しますか？")) {
              return true
            } else {
              alert("キャンセルされました");
              return false
            }
          };
          (function($){
            $(function(){

              $('.sidenav').sidenav();

            }); // end of document ready
            document.addEventListener('DOMContentLoaded', function() {
             var elems = document.querySelectorAll('.fixed-action-btn');
             var instances = M.FloatingActionButton.init(elems, options);
           });
           document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems, {});
              });

              document.addEventListener('DOMContentLoaded', function() {
              var elems = document.querySelectorAll('.collapsible');
              var instances = M.Collapsible.init(elems, options);
            });

            $(document).ready(function(){
              $('.collapsible').collapsible();
            });


           // Or with jQuery

           $(document).ready(function(){
             $('.fixed-action-btn').floatingActionButton();
           });

           $(document).ready(function(){
             $('select').formSelect();
           });

           document.addEventListener('DOMContentLoaded', function() {
             var elems = document.querySelectorAll('select');
             var instances = M.FormSelect.init(elems, options);
           });

  // Or with jQuery

        $(document).ready(function(){
          $('select').formSelect();
        });
        document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.timepicker');
    var instances = M.Timepicker.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.timepicker').timepicker();
  });
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, options);
  });

  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
  $(document).ready(function() {
    $('input#input_text, textarea#textarea2').characterCounter();
  });
  $('li[id^="select-options"]').on('touchend', function (e) {
     e.stopPropagation();
  });
          })(jQuery);
          </script>
      </body>
    </body>
</html>
