{% load static %}
<html>
    <head>
        <title>MyBlog</title>
        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
        <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <body>
      <body class="brown lighten-5">
        <header>
          <div class="navbar-fixed">
           <nav>
             <div class="nav-wrapper">
               <!-- <a href="/" class="">MyBlog</a> -->
               <a href="/" class="brand-logo">RPT</a>
               <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
               <ul class="right hide-on-med-and-down">
                 {% if user.is_authenticated %}
                 <li>こんにちは、{{user.username}}さん</li>
                 {% else %}
                 <li><a href="{% url 'post_list' %}">ログイン</a></li>
                 <li><a href="{% url 'user_create' %}">アカウント作成</a></li>
                 {% endif %}
                 <li><a href="{% url 'post_list' %}">全て</a></li>
                 <li><a href="{% url 'category' %}プログラミング/1">プログラミング</a></li>
                 <li><a href="{% url 'category' %}生活/1">生活</a></li>
                 <li><a href="{% url 'category' %}筋トレ/1">筋トレ</a></li>
                 {% if perms.practiceblog.add_solve %}
                 <li><a  href="{% url 'introduce_all' %}">一覧</a></li>
                 <li><a  href="{% url 'teacher' %}">先生</a></li>
                 {% else %}
                 <li><a href="{% url 'student' %}">テスト</a></li>
                 <li><a href="{% url 'result' %}">結果</a></li>
                 <li><a  href="{% url 'introduce' %}">紹介</a></li>
                 {% endif %}
                 <li><a  href="{% url 'question_box' %}">質問箱</a></li>
                 <li><a  href="{% url 'question_answer' %}">回答一覧</a></li>
               </ul>
             </div>
           </nav>
         </div>
         <ul class="sidenav collapsible" id="mobile-demo">
           <div class="nav-wrapper">
             <form>
               <div class="input-field">
                 <input id="search" type="search" required>
                 <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                 <i class="material-icons">close</i>
               </div>
             </form>
           </div>
           {% if user.is_authenticated %}
           <li>こんにちは、{{user.username}}さん</li>
           <li><a  href="{% url 'logout' %}" class="collapsible-header"><i class="material-icons">/logout</i>ログアウト</a></li>
           {% else %}
           <li><a href="{% url 'login' %}">ログイン</a></li>
           <li><a href="{% url 'user_create' %}">アカウント作成</a></li>
           {% endif %}
           <li><a  href="{% url 'question_box' %}" class="collapsible-header"><i class="material-icons">forum</i>質問箱</a></li>
           <li><a  href="{% url 'question_answer' %}" class="collapsible-header"><i class="material-icons">school</i>回答一覧</a></li>
           <li><a href="{% url 'explanation' %}" class="collapsible-header"><i class="material-icons">settings</i>サイト概要</a></li>
              <li>
                <a class="collapsible-header"><i class="material-icons">insert_chart</i>ブログ</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="{% url 'post_list' %}"><i class="material-icons">apps</i>全て</a></li>
                    <li><a href="{% url 'category' %}プログラミング"><i class="material-icons">desktop_mac</i>プログラミング</a></li>
                    <li><a href="{% url 'category' %}生活"><i class="material-icons">date_range</i>生活</a></li>
                    <li><a href="{% url 'category' %}筋トレ"><i class="material-icons">accessibility</i>筋トレ</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <a class="collapsible-header"><i class="material-icons">border_color</i>テスト</a>
                <div class="collapsible-body">
                  <ul>

                        {% if perms.practiceblog.add_solve %}
                        <li><a  href="{% url 'teacher' %}"><i class="material-icons">face</i>先生</a>
                        </li>
                        <li class="no-padding"><a  href="{% url 'introduce_all' %}" class="collapsible-header"><i class="material-icons">people</i>一覧</a></li>
                        {% else %}
                        <div class="collapsible">
                          <li class="">
                        <a class="collapsible-header"><i class="material-icons">insert_emoticon</i>生徒</a>
                        <div class="collapsible-body">
                          <ul>
                            <li><a href="{% url 'student' %}"><i class="material-icons">import_contacts</i>テスト</a></li>
                            <li><a href="{% url 'result' %}"><i class="material-icons">local_library</i>結果</a></li>
                          </ul>
                        </div>
                      </li>
                    </div>
                    <li class="no-padding"><a  href="{% url 'introduce' %}" class="collapsible-header"><i class="material-icons">people</i>紹介</a></li>
                        {% endif %}
                  </ul>
                </div>
              </li>


         </ul>
        </header>
          <div class="content container">
              <div class="row">
                  <div class="col-md-8">
                  {% block content %}
                  {% endblock %}
                  </div>
              </div>
          </div>
          <hr>
          <footer class="">
            <div class="row">
              <div class="col s12">
                <div class="card grey lighten-3">
                  <div class="card-content">
                    <div class="container">
                      <div class="row">
                        <div class="col s4">
                          <!-- <img scr="{% static 'img/my_image.jpg' %}"> -->
                          <img src="{% static 'img/my_image.jpg' %}" alt="" class="circle responsive-img">
                        </div>
                        <div class="col s8">
                          <span class="card-title">りのたん</span>
                          <p>東京工業大学3年生<br>プログラミング、家庭教師、筋トレ、研究などについて呟いていく。</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-action">
                    <a href="#"><a href="https://twitter.com/AKpDbERJm5hZzUm" class="twitter-follow-button" data-show-count="false">Follow りのたん</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
                © 2019 Copyright Rinotan
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
              </div>
            </div>
          </footer>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
          <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
          <script src="{% static 'js/materialize.js' %}"></script>
          <script src="{% static 'js/select.js' %}"></script>
          <script src="{% static 'js/init.js' %}"></script>
          <script type="text/javascript">
          function check() {
            var name = document.forms.teacher_form.first_name.value;
            var grade = document.forms.teacher_form.grade.value;
            var sex = document.forms.teacher_form.sex.value;
            var place = document.forms.teacher_form.place.value;
            var arr1 = [];
            var week = document.form1.week
	           for (let i = 0; i < week.length; i++){
		             if(week[i].checked){
			                arr1.push(week[i].value);
		              }
	            }
            var start_time = document.form1.start_time.value;
            var class_time = document.form1.class_time.value;
            var hope_sex = document.form1.hope_sex.value;
            var first_date1 = document.form1.first_date1.value;
            var first_time1 = document.form1.first_time1.value;
            var first_date2 = document.form1.first_date2.value;
            var first_time2 = document.form1.first_time2.value;
            var first_date3 = document.form1.first_date3.value;
            var first_time3 = document.form1.first_time3.value;
            var something = document.form1.something.value;

            var message = `本当に\n生徒名 ${name}\n学年 ${grade}\n性別 ${sex}\n場所 ${place}\n曜日 ${arr1}\n開始時間 ${start_time}\n授業時間 ${class_time}\n希望性別 ${hope_sex}\n第1希望日時 ${first_date1} ${first_time1}\n第2希望日時 ${first_date2} ${first_time2}\n第3希望日時 ${first_date3} ${first_time3}\n備考 ${something}\nでよろしいでしょうか`

            if (window.confirm(message)) {
              return true
            } else {
              alert("キャンセルされました");
              return false
            }
          };
          function intro_check() {
            if (window.confirm("本当に応募しますか？")) {
              return true
            } else {
              alert("キャンセルされました");
              return false
            }
          };
          (function($){
            $(function(){

              $('.sidenav').sidenav();

            }); // end of document ready
            document.addEventListener('DOMContentLoaded', function() {
             var elems = document.querySelectorAll('.fixed-action-btn');
             var instances = M.FloatingActionButton.init(elems, options);
           });
           document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems, {});
              });

              document.addEventListener('DOMContentLoaded', function() {
              var elems = document.querySelectorAll('.collapsible');
              var instances = M.Collapsible.init(elems, options);
            });

            $(document).ready(function(){
              $('.collapsible').collapsible();
            });


           // Or with jQuery

           $(document).ready(function(){
             $('.fixed-action-btn').floatingActionButton();
           });

           $(document).ready(function(){
             $('select').formSelect();
           });

           document.addEventListener('DOMContentLoaded', function() {
             var elems = document.querySelectorAll('select');
             var instances = M.FormSelect.init(elems, options);
           });

  // Or with jQuery

        $(document).ready(function(){
          $('select').formSelect();
        });
        document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.timepicker');
    var instances = M.Timepicker.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.timepicker').timepicker();
  });
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, options);
  });

  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
  $(document).ready(function() {
    $('input#input_text, textarea#textarea2').characterCounter();
  });
  $('li[id^="select-options"]').on('touchend', function (e) {
     e.stopPropagation();
  });
          })(jQuery);
          </script>
      </body>
    </body>
</html>
