{% extends 'practiceblog/base.html' %}
{% block content %}
<nav style="margin-top: 40px;" class="text-darken-2">
    <div class="nav-wrapper red lighten-3">
        <a href="#!" class="brand-logo" style="font-size: 15px;">ボードリスト</a>
    </div>
</nav>
<div id="room_list">
    {% for token in token_list %}
    <a id="token" class="room" href="/myboard/{{token.token}}">
        <div class="card grey lighten-5 hoverable">
            <div class="card-content black-text">
                <span class="card-title"><i class="material-icons">note</i>   {{ token.author.username }}のホワイトボード</span>
                <!-- <span class="card-title">〜のホワイトボード</span> -->
            </div>
        </div>
    </a>
    {% endfor %}
</div>
<div class="fixed-action-btn">
    <a href="#modal1" class="btn-floating btn-large waves-effect waves-light red modal-trigger"><i
            class="material-icons">add</i></a>
</div>
<!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->

<!-- Modal Structure -->
<!-- <div id="modal1" class="modal">
    <div class="modal-content">
        <h4>ルームを作成する</h4>
        <p>ルーム名</p>
        <input placeholder="例:授業1" type="text" name="room_name" id="room_name" />
        <p>パスワード</p>
        <input placeholder="password" type="text" name="password" id="password" />
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">キャンセル</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="create_room">作成</a>
    </div>
</div> -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
{% endblock %}