{% extends 'practiceblog/base.html' %}
{% block content %}
<nav style="margin-top: 40px;" class="text-darken-2">
    <div class="nav-wrapper red lighten-3">
        <a href="#!" class="brand-logo" style="font-size: 15px;">ボードリスト</a>
    </div>
</nav>
<div id="room_list">
    {% for token in token_list %}
    <a id="token" class="room" href="/myboard/{{token.token}}">
        <div class="card grey lighten-5 hoverable">
            <div class="card-content black-text">
                <span class="card-title"><i class="material-icons">note</i>   {{ token.author.username }}のホワイトボード</span>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
<div class="fixed-action-btn">
    <a href="#modal1" class="btn-floating btn-large waves-effect waves-light red modal-trigger"><i
            class="material-icons">add</i></a>
</div>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
{% endblock %}