{% extends 'practiceblog/base.html' %}
{% block title %}サイト概要{% endblock %}
{% block meta_description %}<meta name="description" content="サイト概要では、ボードミートがどのようなことができるかを説明しています。全て無料で使えますので、まずはアカウント作成をしてみてください">{% endblock %}
{% block content %}
{% load static %}
<div class="container" style="position: relative; top: 50px;">
  <div class="row">
    <div class="col s6"><img src="{% static 'img/explain_whiteboard.png' %}" alt="" style="width: 100%;"></div>
    <div class="col s6"><span style="font-weight: bold; font-size: 16px;">図、文字で知の共有を行い、新しい価値創造を</span><br>Board Meetではペンを文字の書き込みや画像の貼り付けなどでアイデアを書き込むことができます。
      そして、自分のボードには相互フォローとなっている友人や仲間も書き込むことができます。</div>
  </div>
  <div class="row">
    <div class="col s6"><img src="{% static 'img/explain_telework.png' %}" alt="" style="width: 100%;"></div>
    <div class="col s6"><span style="font-weight: bold; font-size: 16px;">リアルタイムでボードを共有し、有意義なディスカッションを</span><br>Board Meetではリアルタイムで映像と音声を共有することにより、ディスカッションを行うことができます。
    その際に、ボードに書き込むとリアルタイムでボードが更新され、反映されます。リモートでホワイトボードを使ったような会議を行うことができます。</div>
  </div>
  <div class="row">
    <div class="col s6"><img src="{% static 'img/explain_idea.png' %}" alt="" style="width: 100%;"></div>
    <div class="col s6"><span style="font-weight: bold; font-size: 16px;">アイデアをいつでも書き出せるボードを</span><br>ミーティングや自分で書き込んだボードは保存され、次のミーティングでも使うことができます。
    思いついた時、いつでもボードにアイデアを書き加えることができます。</div>
  </div>
</div>
{% endblock %}
