{% extends 'practiceblog/base.html' %}
{% block content %}
<div class="conitainer"style="margin-top: 30px;">
  <div class="row">
    <div class="col" style="font-size: 24px; font-weight: bold; border-left: solid 5px #e57373;">
      このサイトの説明(生徒)
    </div>
  </div>
  <div class="row">
    <div class="col" style="font-size: 18px; font-weight: bold; border-bottom: solid 2px #e57373;">
      家庭教師を探す
    </div>
  </div>
  <div class="row">
    <div class="col" style="font-size: 18px; font-weight: bold; border-bottom: solid 2px #e57373;">
      動画
    </div>
  </div>
  <div class="row">
    <div class="col" style="font-size: 18px; font-weight: bold; border-bottom: solid 2px #e57373;">
      テストをしてみる
    </div>
  </div>
  <div class="row">
    <div class="col" style="font-size: 18px; font-weight: bold; border-bottom: solid 2px #e57373;">
      動画
    </div>
  </div>
  <div class="row">
    <div class="col" style="font-size: 24px; font-weight: bold; border-left: solid 5px #e57373;">
      このサイトの説明(先生)
    </div>
  </div>
  <div class="row">
    <div class="col" style="font-size: 18px; font-weight: bold; border-bottom: solid 2px #e57373;">
      家庭教師に応募する
    </div>
  </div>
  <div class="row">
    <div class="col" style="font-size: 18px; font-weight: bold; border-bottom: solid 2px #e57373;">
      動画
    </div>
  </div>
  <div class="row">
    <div class="col" style="font-size: 18px; font-weight: bold; border-bottom: solid 2px #e57373;">
      採点をする
    </div>
  </div>
  <div class="row">
    <div class="col" style="font-size: 18px; font-weight: bold; border-bottom: solid 2px #e57373;">
      動画
    </div>
  </div>
</div>
{% endblock %}
