{% extends 'practiceblog/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row center-align">
        <div class="col s1">
        </div>
        <div class="col s10">
            <img src="{% static 'img/A.png' %}" width="200px">
        </div>
        <div class="col s1">
        </div>
    </div>
    <div class="row center-align">
        <div class="col s1">
        </div>
        <div class="col s10">
            新たな価値の創造者のためのSNS
        </div>
        <div class="col s1">
        </div>
    </div>
    <div class="row center-align">
        <div class="col s1">
        </div>
        <div class="col s10">
            Board Meetは手書きの共有により新たなアイデアを作り出す手助けをします
        </div>
        <div class="col s1">
        </div>
    </div>
</div>
{% endblock %}