{% extends 'practiceblog/base.html' %}
{% block content %}
    <div class="post" style="margin-top: 40px;">
        {% if post.published_date %}
            <div class="right" style="font-size: 10px;">
                {{ post.published_date }}
            </div>
        {% endif %}
        <p style="font-weight: bold; font-size: 20px; border-bottom: solid 3px #ffcdd2;">{{ post.title }}<p>
        <p>{{ post.text|safe }}</p>
        <img src="{{ post.image.url }}" alt="">
    </div>
{% endblock %}
