{% extends 'practiceblog/base.html' %}

{% block content %}
    {% for post in posts %}
        <!-- <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div> -->
        <a href="{% url 'post_detail' pk=post.pk %}">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">{{ post.title }}</span>
            <p>{{ post.text|linebreaksbr }}</p>
          </div>
          <div class="card-action white-text">
              {{ post.published_date }}
          </div>
        </div>
      </a>
    {% endfor %}
{% endblock %}
