{% extends 'practiceblog/base.html' %}
{% block content %}

<div class="col s12 m12">
  <div class="card horizontal">
    <div class="card-image">
      <i class="material-icons">assignment_ind</i>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        名前:{{user.username}}<br>
        メールアドレス:{{user.email}}<br>
        始めた時期:{{user.created_at}}
      </div>
    </div>
  </div>
</div>
<div>
  <a id="" class="col s12 m12" href="/myboard/{{token}}">
    <div class="card grey lighten-5 hoverable">
        <div class="card-content black-text">
            <span class="card-title"><i class="material-icons">note</i>ホワイトボード</span>
        </div>
    </div>
  </a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          return cookieValue;
        }

        function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        
    </script>
{% endblock %}
