{% extends 'practiceblog/base.html' %}
{% block title %}プロフィール{% endblock %}
{% block meta_description %}<meta name="description" content="プロフィールページでは、ユーザーの簡単な情報が表示されます。">{% endblock %}
{% block content %}
{%if author_flag == True %}
<div class="row">
  <div class="col s2 offset-s10">
    <a class="btn modal-trigger blue" href="#modal1"><i class="material-icons">edit</i></a>
  </div>
</div>
{% endif %}


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>プロフィール編集</h4>
      <form action="" id="form">
        {% csrf_token %}
      <div class="file-field input-field col s6">
        <div class="btn blue">
          
            <span class="">画像</span>
            <input type="file" id="image" name="image">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <div class="input-field col s6">
        <input placeholder="名前" id="username" type="text" class="validate" value="{{profile.display_name}}" name="username">
        <label for="first_name">名前</label>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="introduce" class="materialize-textarea" data-length="120" name="introduce">{{profile.introduce}}</textarea>
          <label for="textarea2">自己紹介</label>
        </div>
      </div>
    </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close btn-flat">キャンセル</a>
      <a href="#!" class="modal-close btn-flat" id="save">保存</a>
    </div>
  </div>

<div class="col s12 m12 l12">
  <div class="card-panel grey lighten-5 z-depth-1">
    <div class="row valign-wrapper">
      <div class="col s3" id="profile_image_block">
        {% if profile.image == "" %}
        <i class="material-icons circle gray large">person</i>
        {% else %}
        <img src="{{image_src}}" alt="画像が見つかりません。" class="circle" id="profile_image" width="100" height="100" style="object-fit: cover;">
        {% endif%}
      </div>
      <div class="col s6">
        <span class="black-text" style="font-weight: bold;font-size: 25px;" id="username_card">
          {{profile.display_name}}
        </span>
      </div>
    </div>
  </div>
</div>
<div class="col s12 m12">
  <div class="card horizontal">
    <div class="card-image">
      <i class="material-icons">assignment_ind</i>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <i class="material-icons tiny">email</i>   {{user.email}}<br>
        <br><span id="introduce_card">{{profile.introduce}}</span>
      </div>
    </div>
  </div>
</div>
<div>
  {%if relation_flag == True %}
  <a id="" class="col s12 m12" href="/myboard/{{token}}">
    <div class="row">
      <div class="col s12">
        <div class="card-panel">
          <span style="color: black;">ボード</span><br>
          <figure id="board" >
            <svg id="drawingCanvas" style="width: 90%; height: 50%;" viewBox="0 0 1000 500"></svg>
          </figure>
        </div>
      </div>
    </div>
  </a>
</div>
{% endif %}

{{ token|json_script:"token" }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          return cookieValue;
        }

        function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function ajax(data, url, type, doneFunc) {
                var csrf_token = getCookie("csrftoken");
                // var data = JSON.stringify(data);
                // var csrftoken1 = Cookies.get('csrftoken');
                var csrftoken2 = getCookie("csrftoken");
                // var csrftoken3 = document.querySelector('[name=csrfmiddlewaretoken]').value;
                // console.log(`csrftoken1:${csrftoken1}`);
                console.log(`csrftoken2:${csrftoken2}`);
                // console.log(`csrftoken3:${csrftoken3}`);
                console.log(data);
                $.ajax({
                    url: url,
                    type: type,
                    data: data,
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        }
                    },
                    cache: false,
                    contentType: false,
                    processData: false,
                    dataType: "json"
                }).done(function (response) {

                    if (data.error) {
                        console.log("ERROR");
                    }
                    else {
                        doneFunc(response.data);
                    }

                }).fail(function (xhr, status, error) {
                    console.log(status + ":" + error + ":" + xhr);
                });
            }

            document.getElementById("save").addEventListener("click", function() {
                new_user_list = ``
                page = 0
                var $upfile = $("form")
                var formdata = new FormData($upfile.get(0));
                const apiUrl = '/profile/api/update/'
                response_data = ajax(formdata, apiUrl, "POST", profileUpdate)
            })

            function profileUpdate(data) {
              console.log(data);
              document.getElementById("username_card").textContent = data.display_name
              document.getElementById("introduce_card").textContent = data.introduce
              document.getElementById("profile_image").setAttribute("src", data.image_src)
            }

            var svgElm = $("#drawingCanvas")
            var token = JSON.parse(document.getElementById('token').textContent);

            function defultDraw(data) {
              console.log(data);
                Object.keys(data).forEach(function(key) {
                    //初期データをjsonfileに書き込む用のデータに加える
                    var value = data[key];
                    console.log(value);
                    var draw_type = value.type
                    switch (draw_type) {
                        case "draw":
                            var pathElm = document.createElementNS("http://www.w3.org/2000/svg", "path");
                            svgElm.append(pathElm);
                            console.log(value);
                            svgElm.find("path:last").attr({
                                "id": key,
                                "d": value.d, 
                                "fill": "none",
                                "stroke": value.stroke, 
                                "stroke-width": value.strokeSize, 
                                "stroke-linecap": "round" 
                            });
                            var transform = pathElm.transform.baseVal.createSVGTransformFromMatrix(SVGMatrixCreate())
                            if (!pathElm.hasAttribute("transform")) {
                                pathElm.transform.baseVal.appendItem(transform);
                            }

                            // var Matrix = target.transform.matrix;
                            var Matrix = pathElm.transform.baseVal[0].matrix;
                            Matrix.e = value.x;
                            Matrix.f = value.y;
                            break;
                        case "image":
                            var imageElm = document.createElementNS("http://www.w3.org/2000/svg", "image");
                            imageElm.setAttribute("href", value.href);
                            imageElm.setAttribute("id", value.id);
                            imageElm.setAttribute("width", value.width);
                            imageElm.setAttribute("height", value.height);
                            imageElm.setAttribute("x", value.cx);
                            imageElm.setAttribute("y", value.cy);
                            svgElm.append(imageElm);
                            var transform = imageElm.transform.baseVal.createSVGTransformFromMatrix(SVGMatrixCreate())
                            if (!imageElm.hasAttribute("transform")) {
                                imageElm.transform.baseVal.appendItem(transform);
                            }

                            // var Matrix = target.transform.matrix;
                            var Matrix = imageElm.transform.baseVal[0].matrix;
                            Matrix.e = value.x;
                            Matrix.f = value.y;
                            break;
                        case "textBox":
                            createTextBox(value.cx, value.cy, value.x, value.y, value.id, value.text);
                            break;
                        case "":
                            svgElm.html("");
                            break;
                        default:
                            console.log("no type");
                    }
            }, data.data)
          }

          function loadRoom() {
                const apiUrl =
                    '/rooms/api/'
                    + token
                    + '/load'
                loadingData = ajax("dummy", apiUrl, "GET", defultDraw)
            }

            window.addEventListener('load', function () {
                loadRoom()
              });

            function createTextBox(cx, cy, x, y, id, text) {
                var text_box = document.createElementNS("http://www.w3.org/2000/svg", "text");
                text_box.setAttribute("x", cx);
                text_box.setAttribute("y", cy);
                text_box.setAttribute("font-size", 20);
                text_box.setAttribute("fill", "#666666");
                text_box.setAttribute("id", id);
                text_box.textContent = text;
                var transform = text_box.transform.baseVal.createSVGTransformFromMatrix(SVGMatrixCreate())
                if (!text_box.hasAttribute("transform")) {
                    text_box.transform.baseVal.appendItem(transform);
                }
                var Matrix = text_box.transform.baseVal[0].matrix;
                Matrix.e += x;
                Matrix.f += y;
                svgElm.append(text_box);
            }

            function SVGMatrixCreate(a, b, c, d, e, f) {
                var svg = document.createElementNS("http://www.w3.org/2000/svg", "svg");
                var mtx = svg.createSVGMatrix();
                if (a !== undefined) mtx.a = a;
                if (b !== undefined) mtx.b = b;
                if (c !== undefined) mtx.c = c;
                if (d !== undefined) mtx.d = d;
                if (e !== undefined) mtx.e = e;
                if (f !== undefined) mtx.f = f;
                return mtx;
            }


        
    </script>
{% endblock %}
