{% extends 'practiceblog/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="fixed-action-btn">
    <a href="" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
  </div>
  <nav style="margin-top: 40px;" class="text-darken-2">
  <div class="nav-wrapper red lighten-3">
  <a href="#!" class="brand-logo" style="font-size: 15px;">質問箱</a>
  </div>
  </nav>
  {% for post in posts %}
  <a href="">
  <div class="card grey lighten-5 hoverable">
    <div class="card-content black-text">
      <div class="chip" >{{ post.cate}}</div>
      <span class="card-title">{{post.title}}</span>
      <!-- <p>{{ post.text|linebreaksbr }}</p> -->
    </div>
    <div class="card-action black-text" style="font-size: 10px;">
        {{ post.published_date }}
    </div>
  </div>
  </a>
{% endfor %}
<ul class="pagination center">
    <!-- [{{tests.number}}/{{tests.paginator.num_pages}}] -->
  {% if posts.has_previous %}
      <li class="disabled"><a href="{% url 'question_box' %}/1"><i class="material-icons">chevron_left</i></a></li>
      <li class="waves-effect"><a href="{% url 'question_box' %}/{{posts.previous_page_number}}">{{posts.previous_page_number}}</a></li>
  {% endif %}
  <span class="current">
    <li class="active"><a href="{% url 'question_box' %}/{{posts.number}}">{{posts.number}}</a></li>
  </span>
  {% if posts.has_next %}
      <li class="waves-effect"><a href="{% url 'question_box' %}/{{posts.next_page_number}}">{{posts.next_page_number}}</a></li>
      <li class="waves-effect"><a href="{% url 'question_box' %}/{{posts.paginator.num_pages}}"><i class="material-icons">chevron_right</i></a></li>
      <!-- <a href="{% url 'post_list' %}{{posts.paginator.num_pages}}">last&raquo;</a> -->
  {% endif %}
</ul>
{% else %}
<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col s4">
    </div>
    <div class="col s4">
      <a href="{% url 'login' %}" class="waves-effect waves-light btn">ログイン</a>
    </div>
    <div class="col s4">
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
