{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>Doodle</title>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- <link rel="stylesheet" href="{% static 'css/blog.css' %}"> -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ["\\(","\\)"]] } });
    </script>
    <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML">
    </script>
    <meta http-equiv="X-UA-Compatible" CONTENT="IE=EmulateIE7" />
    <style media="screen">
      #mycanvas {
        border: 10px solid #999;
        cursor: crosshair;
        position: absolute;
        left: 33%;
        top: 100px;
        z-index: 0;
      }
      #pen {
        position: fixed;
        left: 50%;
        width: 50%;
        z-index: 1;
      }
      #form {
        position: fixed;
        width: 45%;
      }
      #question {
        border: 10px solid #999;
        position: fixed;
        width: 45%;
        height: 100%;
        top: 100px;
      }
      #download {
        display: none;
      }
      /* #penColor {
        position: fixed;
        left: 50%;
      } */
    </style>
  </head>
  <body>
    <div id="pen"class="container">
      <div class="row">
        <div class="col s12 m2">
        <select id="penColor" class="" name="">
          <option value="black">黒</option>
          <option value="red">赤</option>
          <option value="blue">青</option>
          <option value="white">白</option>
        </select>
      </div>
      <div class="col s12 m2">
        <select id="penWidth" class="" name="">
          <option value="1">細</option>
          <option value="3">中</option>
          <option value="5">太</option>
        </select>
      </div>
      <div class="col m2">
        <button class="btn waves-effect waves-light" type="submit" name="action" id="erase"><i class="material-icons">cancel</i></button>
      </div>
      <div class="col m2">
        <a class="waves-effect waves-light btn" id="store" href=""><i class="material-icons">file_download</i></a>
      </div>
      <div class="col m2">
        <a class="waves-effect waves-light btn" id="send" href=""><i class="material-icons">send</i></a>
      </div>
      </div>
    </div>
    <a id="download" href="#" download="canvas.png">ダウンロード</a>

    <canvas width="400" height="1200" id="mycanvas" class="">
    <!-- <canvas id="mycanvas" class=""> -->
      Canvasに対応したブラウザを用意してください。
    </canvas>
    <!-- <div id="result"><img src="" id="img"></div> -->
      <form class="" method="POST" id="form" enctype="multipart/form-data" id="form">
        {% csrf_token %}
        <div class="container">
          <div class="row">
              {{ form.image }}
          </div>
          <div class="row">
            <div class="col m6">
              {{ form.title }}
            </div>
            <div class="col m6">
              {{ form.cate }}
            </div>
          </div>
          </div>
        </div>
      </form>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
  <script>
  $(function() {
    var canvas = document.getElementById('mycanvas');
    if (!canvas || !canvas.getContext) return false;
    var ctx = canvas.getContext('2d');

    var startX,
        startY,
        x,
        y,
        borderWidth = 10,
        isDrowing = false;


    $('#mycanvas').mousedown(function(e) {
      isDrowing = true;
      startX = e.pageX - $(this).offset().left - borderWidth;
      startY = e.pageY - $(this).offset().top - borderWidth;
    })
    .mousemove(function(e) {
      if (!isDrowing) return;
      x = e.pageX - $(this).offset().left - borderWidth;
      y = e.pageY - $(this).offset().top - borderWidth;
      ctx.beginPath();
      ctx.moveTo(startX, startY);
      ctx.lineTo(x, y);
      ctx.stroke();
      startX = x;
      startY = y;
    })
    .mouseup(function(e) {
      isDrowing = false;
    })
    .mouseleave(function(e) {
      isDrowing = false;
    });

    canvas.addEventListener("touchstart", function (e) {
      isDrowing = true;
      e.preventDefault();
      startX = e.pageX - $(this).offset().left - borderWidth;
      startY = e.pageY - $(this).offset().top - borderWidth;
    }, {passive: false})

    canvas.addEventListener("touchmove", function (e) {
      e.preventDefault();
      if (!isDrowing) return;
      x = e.pageX - $(this).offset().left - borderWidth;
      y = e.pageY - $(this).offset().top - borderWidth;
      ctx.beginPath();
      ctx.moveTo(startX, startY);
      ctx.lineTo(x, y);
      ctx.stroke();
      startX = x;
      startY = y;
    }, {passive: false});

    canvas.addEventListener("touchend", function (e) {
      isDrowing = false;
    });


    $('#penColor').change(function(e) {
      ctx.strokeStyle = $(this).val();
    });

    $('#penWidth').change(function(e) {
      ctx.lineWidth = $(this).val();
    });
    $('#erase').click(function() {
      if (!confirm('本当に消去しますか？')) return;
      ctx.clearRect(0, 0, canvas.width, canvas.height);
    })
    $('#store').click(function(e) {
      if (!confirm('本当に保存しますか？')) return;
      e.preventDefault();
      var canvas = document.getElementById('mycanvas');
      var base64 = canvas.toDataURL();
      // var base64 = canvas.toDataURL().replace(/^.*,/, '');
      // document.getElementById('img').src = base64
      document.getElementById("download").href = base64;
      document.getElementById("download").click();
      ctx.clearRect(0, 0, canvas.width, canvas.height);
    });

    $('#send').click(function(e) {
      e.preventDefault();
      var form = document.getElementById('form');
      form.submit();
    })
  });
  </script>
</html>
