{% extends 'practiceblog/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<nav style="margin-top: 40px;" class="text-darken-2">
<div class="nav-wrapper red lighten-3">
<a href="#!" class="brand-logo" style="font-size: 15px;">テスト</a>
</div>
</nav>
{% for post in tests %}
    <a href="{% url 'test' pk=post.pk %}">
    <div class="card grey lighten-5 hoverable">
      <div class="card-content black-text">
        <div class="chip" >{{ post.cate }}</div>
        <span class="card-title">{{ post.title }}</span>
      </div>
      <div class="card-action black-text" style="font-size: 10px;">
          {{ post.published_date }}
      </div>
    </div>
  </a>
{% endfor %}
<nav style="margin-top: 40px;" class="text-darken-2">
<div class="nav-wrapper red lighten-3">
<a href="#!" class="brand-logo" style="font-size: 15px;">結果</a>
</div>
</nav>
{% for post in solves %}
    <a href="{% url 'solve' pk=post.pk %}">
    <div class="card grey lighten-5 hoverable">
      <div class="card-content black-text">
        <div class="chip" >{{ post.cate }}</div>
        <span class="card-title">{{ post.title }}</span>
      </div>
      <div class="card-action black-text" style="font-size: 10px;">
          {{ post.published_date }}
      </div>
    </div>
  </a>
{% endfor %}
{% else %}
<a href="{% url 'login' %}">ログインして下さい</a>
{% endif %}
{% endblock %}
