{% extends 'practiceblog/base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      家庭教師紹介
    </div>
  </div>
</div>

<form method="POST" class="post-form">
  {% csrf_token %}
  <div class="input-field col s12">
      <input placeholder="東工大 太郎" id="first_name" type="text" class="validate">
      <label for="first_name">名前</label>
  </div>
  <div class="input-field col s12">
  <select>
    <option value="" disabled selected>学年</option>
    <option value="1">小学１年</option>
    <option value="1">小学２年</option>
    <option value="1">小学３年</option>
    <option value="1">小学４年</option>
    <option value="1">小学５年</option>
    <option value="1">小学６年</option>
    <option value="1">中学１年</option>
    <option value="1">中学２年</option>
    <option value="1">中学３年</option>
    <option value="1">高校１年</option>
    <option value="1">高校２年</option>
    <option value="1">高校３年</option>
    <option value="1">その他</option>
  </select>
  <label>学年</label>
</div>
<div class="input-field col s12">
  <select >
    <option value="1">性別</option>
    <option value="1">男子</option>
    <option value="1">女子</option>
  </select>
  <label>性別</label>
</div>
<div class="input-field col s12">
    <input placeholder="大岡山駅 徒歩３分" id="place" type="text" class="validate">
    <label for="place">場所</label>
</div>
<div class="input-field col s2" style="margin-bottom:;">
   <label>
      <input type="checkbox" class="filled-in" />
      <span>日</span>
   </label>
 </div>
<div class="input-field col s2" style="margin-bottom:;">
   <label>
      <input type="checkbox" class="filled-in" />
      <span>月</span>
   </label>
 </div>
<div class="input-field col s2" style="margin-bottom:50px;">
   <label>
      <input type="checkbox" class="filled-in" />
      <span>火</span>
   </label>
 </div>
<div class="input-field col s2" style="margin-bottom:50px;">
   <label>
      <input type="checkbox" class="filled-in" />
      <span>水</span>
   </label>
 </div>
<div class="input-field col s2" style="margin-bottom:50px;">
   <label>
      <input type="checkbox" class="filled-in" />
      <span>木</span>
   </label>
 </div>
<div class="input-field col s2" style="margin-bottom:50px;">
   <label>
      <input type="checkbox" class="filled-in" />
      <span>金</span>
   </label>
 </div>
<div class="input-field col s2" style="margin-bottom:50px;">
   <label>
      <input type="checkbox" class="filled-in" />
      <span>土</span>
   </label>
 </div>
 <div class="input-field col s12">
   <input type="text" class="timepicker">
   <label for="">希望開始時間</label>
 </div>
 <div class="input-field col s12">
   <select class="" name="">
     <option value="1">時間</option>
     <option value="1">60分</option>
     <option value="1">90分</option>
     <option value="1">120分</option>
     <option value="1">150分</option>
     <option value="1">180分</option>
   </select>
   <label for="">授業時間</label>
 </div>
  <div class="input-field col s12">
  <select>
    <option value="" disabled selected>性別</option>
    <option value="1">男性</option>
    <option value="2">女性</option>
    <option value="3">どちらでも可</option>
  </select>
  <label>希望性別</label>
</div>
<div class="input-field col s6">
  <input type="text" class="datepicker">
  <label for="">初回希望日程①</label>
</div>
<div class="input-field col s6">
  <input type="text" class="timepicker">
  <label for="">時間</label>
</div>
<div class="input-field col s6">
  <input type="text" class="datepicker">
  <label for="">初回希望日程②</label>
</div>
<div class="input-field col s6">
  <input type="text" class="timepicker">
  <label for="">時間</label>
</div>
<div class="input-field col s6">
  <input type="text" class="datepicker">
  <label for="">初回希望日程③</label>
</div>
<div class="input-field col s6">
  <input type="text" class="timepicker">
  <label for="">時間</label>
</div>
<div class="input-field col s12">
  <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
  <label for="textarea2">備考</label>
</div>
</form>
{% endblock %}
