<!DOCTYPE html>
<html>

<head>

  <title>WebRTC</title>

  <link rel="stylesheet" href="/css/main.css" />
<style>
    body {
        font-family: sans-serif;
    }

    video {
        max-width: 100%;
        width: 320px;
    }
</style>

</head>

<body>

  <h1>Realtime communication with WebRTC</h1>

  <div id="videos">
    <video id="localVideo" autoplay muted></video>
  </div>

  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script>
      
  </script>
  
</body>

</html>