<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
</head>

<body>
    <figure>
        <svg id="drawingCanvas" width="958" height="480"></svg>
    </figure>
    <p>COLOR:
        <input type="color" class="color" value="#666666">
        <label><input type="radio" name="drawtype" value="line" checked> LINE</label>
        <label><input type="radio" name="drawtype" value="paint"> PAINT</label>
        <input type="button" class="clear" value="CLEAR">
    </p>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    {{ room_name|json_script:"room-name" }}
    <script>
        $(function () {

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            const roomName = JSON.parse(document.getElementById('room-name').textContent);

            const roomSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/rooms/'
                + roomName
                + '/'
            );

            function defultDraw(data) {
                console.log(data.data);
                data.data.forEach((value, index, array) => {
                    const type = value.type;
                    //初期データをjsonfileに書き込む用のデータに加える
                    drawingData.push(value);

                    switch (type) {
                        case "draw":
                            var pathElm = document.createElementNS("http://www.w3.org/2000/svg", "path");
                            svgElm.append(pathElm);
                            svgElm.find("path:last").attr({
                                "d": "", //pathデータ//塗りつぶし
                                "fill": "none",
                                "stroke": value.stroke, //線の色
                                "stroke-width": "3", //線の太さ
                                "stroke-linecap": "round" //線の端を丸める
                            });
                            break;
                        case "drawing":
                            svgElm.find("path:last").attr("d", value.d);
                            break;
                        case "clear":
                            svgElm.html("");
                            break;
                        default:
                            console.log("no type");
                    }
                    return data;
                });
            }
            function loadRoom() {
                const apiUrl =
                    '/rooms/api/'
                    + roomName
                    + '/load'
                const afterDrawFunc = function (response) {
                    defultDraw(response);
                    console.log(response);
                }
                loadingData = ajax("dummy", apiUrl, "GET", afterDrawFunc)
            }

            loadRoom()

            roomSocket.onclose = function (e) {
                console.error('Chat socket closed unexpectedly');
            };

            function ajax(data, url, type, doneFunc) {
                var csrf_token = getCookie("csrftoken");
                console.log(data);
                var data = JSON.stringify(data);
                $.ajax({
                    url: url,
                    type: type,
                    data: data,
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        }
                    },
                    dataType: 'json',
                    contentType: "application/json",
                }).done(function (response) {

                    if (data.error) {
                        console.log("ERROR");
                    }
                    else {
                        console.log(response);
                        doneFunc(response);
                    }

                }).fail(function (xhr, status, error) {
                    console.log(status + ":" + error);
                });
            }

            //初期設定

            var svgElm = $("#drawingCanvas"), //SVG要素を取得
                movetoX = 0, //開始点(横方向)の初期化
                movetoY = 0, //開始点(縦方向)の初期化
                linetoStr = "", //LineToコマンド値の初期化
                strokeColor = "#666666", //描画色の初期化
                drawType = ""; //塗りつぶしの初期化
            drawingData = [];
            browserDrawingData = {};

            /* ドラッグ開始 */
            $("#drawingCanvas").mousedown(function (event) {
                strokeColor = $(".color").val(); //inputの色の設定を取得

                //PAINT(value: paint)が選択されていたら、塗りつぶし色を設定
                if ($("input[name='drawtype']:checked").val() == "paint")
                    drawType = strokeColor;
                else
                    drawType = "none";

                movetoX = parseInt(event.pageX - svgElm.position().left); //SVG上のマウス座標(横方向)の取得
                movetoY = parseInt(event.pageY - svgElm.position().top); //SVG上のマウス座標(縦方向)の取得
                // var pathElm = document.createElementNS("http://www.w3.org/2000/svg", "path"); //SVGのpath要素を作成
                // svgElm.append(pathElm); //SVGに作成したpathを追加

                // //追加したpathの各属性を設定
                // svgElm.find("path:last").attr({
                // 	"d": "", //pathデータ
                // 	"fill": drawType, //塗りつぶし
                // 	"stroke": strokeColor, //線の色
                // 	"stroke-width": "3", //線の太さ
                // 	"stroke-linecap": "round" //線の端を丸める
                // });

                const browserDrawData = {
                    'type': "draw",
                    "d": "", //pathデータ
                    "fill": "none", //塗りつぶし
                    "stroke": strokeColor, //線の色
                    "stroke-width": "3", //線の太さ
                    "stroke-linecap": "round" //線の端を丸める
                }

                roomSocket.send(JSON.stringify(browserDrawData));
                drawingData.push(browserDrawData);

                var linetoX = [], //描画点の横座標の初期化
                    linetoY = [], //描画点の縦座標の初期化
                    cntMoveto = 0; //描画点のカウンターを初期化
                linetoStr = 'M ' + movetoX + ' ' + movetoY + ' '; //d要素でpathの開始点を設定

                /* ドラッグ中 */
                $("#drawingCanvas").on("mousemove", function (event) {
                    event.preventDefault();
                    linetoX[cntMoveto] = parseInt(event.pageX - svgElm.position().left); //SVG上のマウス座標(横方向)の取得
                    linetoY[cntMoveto] = parseInt(event.pageY - svgElm.position().top); //SVG上のマウス座標(縦方向)の取得
                    linetoStr = linetoStr + " L " + linetoX[cntMoveto] + " " + linetoY[cntMoveto]; //動いた後の新たなマウス座標を描画点として追加

                    // svgElm.find("path:last").attr("d", linetoStr); //pathデータ(d属性)の値を更新
                    browserDrawingData = {
                        'type': "drawing",
                        "d": linetoStr
                    }

                    roomSocket.send(JSON.stringify(browserDrawingData));
                    cntMoveto++; //カウンターをセット
                });

                /* ドラッグ終了 */
            }).mouseup(function (event) {
                drawingData.push(browserDrawingData);
                $("#drawingCanvas").off("mousemove"); //pathの描画を終了
                console.log(drawingData);
                const apiUrl =
                    '/rooms/api/'
                    + roomName
                    + '/update'
                const afterDrawFunc = function (response) {
                    return response;
                }
                ajax(drawingData, apiUrl, "post", afterDrawFunc)
            });

            //CLEARボタンをクリックしたら、SVGを空にする
            $(".clear").click(function () {
                const clear = { 'type' : "clear"}
                roomSocket.send(JSON.stringify(clear));
                drawingData.push(clear);
                const apiUrl =
                    '/rooms/api/'
                    + roomName
                    + '/update'
                const afterDrawFunc = function (response) {
                    return response;
                }
                ajax(drawingData, apiUrl, "post", afterDrawFunc)
            });



            roomSocket.onmessage = function (e) {
                const data = JSON.parse(e.data);
                var pathElm = document.createElementNS("http://www.w3.org/2000/svg", "path");
                if (data.type === "draw") {
                    svgElm.append(pathElm);
                    svgElm.find("path:last").attr({
                        "d": "", //pathデータ//塗りつぶし
                        "fill": "none",
                        "stroke": data.stroke, //線の色
                        "stroke-width": "3", //線の太さ
                        "stroke-linecap": "round" //線の端を丸める
                    });
                } else if (data.type === "drawing") {
                    svgElm.find("path:last").attr("d", data.d); //pathデータ(d属性)の値を更新
                } else if (data.type === "message") {
                    document.querySelector('#chat-log').value += (data.type + '\n');
                } else if (data.type === "clear") {
                    svgElm.html("");
                }
            };

        });
    </script>
</body>

</html>